<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/310311ac98.js"></script>
    <link rel="stylesheet" href="/Semana-06/css/reset.css">
    <link rel="stylesheet" href="/Semana-06/css/footer.css">
    <link rel="stylesheet" href="/Semana-06/css/styles.css">
    <link rel="stylesheet" href="/Semana-06/css/login.css">
    <title>Trackgenix SA - Login</title>
</head>
    <body>
        <main id="main-login">
            <header id="header-login">
                <h1>Trackgenix SA</h1>
            </header>

            <section id="login">
                <div class="container">
                    <div class="title-container">
                        <h2>Log In</h2>
                    </div>
                    <div class="login-form">
                        <form>
                            <div class="fields">
                                <label for="field name">Username</label>
                                <input type="text" placeholder="User">
                                <label for="field email">Password</label>
                                <input type="text" placeholder="******">
                                <div class="remember-me">
                                    <input type="checkbox" disabled="" enabled="" name="remember-me">
                                    <label for="remember-me">Remember me</label>
                                </div>
                                <div class="btn-login-signup btn-login">
                                    <button class="login">Log In</button>
                                    <button class="signup">Sign Up</button>
                                </div>
                                <a href="#">Forgot Password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <footer>
                <h2>Trackgenix</h2>
                <div class="container">
                    <div class="foot-products">
                        <h4>Products</h4>
                        <ol>
                            <li>Features</li>
                            <li>Downloads</li>
                            <li>Integrations</li>
                            <li>Extras</li>
                        </ol>
                    </div>
                    <div class="foot-company">
                        <h4>Company</h4>
                        <ol>
                            <li>About Us</li>
                            <li>Clients</li>
                            <li>Resources</li>
                            <li>Blog</li>
                        </ol>
                    </div>
                    <div class="foot-support">
                        <h4>Support</h4>
                        <ol>
                            <li>Help</li>
                            <li>Tutorials</li>
                            <li>API</li>
                            <li>Contact</li>
                        </ol>
                    </div>
                </div>
                <section id="social-media">
                    <a href="https://twitter.com/AleFittipaldi"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/alejogf/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/AlejoGF"><i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/alefittipaldi12/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/alejo.fittipaldi/"><i class="fab fa-facebook"></i></a>
                </section>
            </footer>
        </main>
    </body>
</html>