<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/310311ac98.js"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <script src="../javascript/login.js"></script>
    <title>Trackgenix SA - Sign-Up</title>
</head>
    <body>
        <main id="main-sign-up">
            <!-- Header -->
            <header id="header-sign-up">
                <h1><a href="index.html">Trackgenix SA</h1></a>
            </header>

            <!-- Sign Up Form -->
            <section id="sign-up">
                <div class="container">
                    <div class="title-container">
                        <h2>Sign Up</h2>
                    </div>
                    <div class="sign-up-form">
                        <form>
                            <div class="fields">
                                <div class="sign-up">
                                    <div class="left-col-sign-up">
                                        <label for="field first-name">First Name</label>
                                        <input type="text" name="first-name" id="first-name" placeholder="First Name">
                                        <p class="error error-display">Invalid First Name</p>
                                    </div>
                                    <div class="right-col-sign-up">
                                        <label for="field last-name">Last Name</label>
                                        <input type="text" name="last-name" id="last-name" placeholder="Last Name">
                                        <p class="error error-display">Invalid Last Name</p>
                                    </div>
                                </div>
                                <div class="sign-up">
                                    <div class="left-col-sign-up">
                                        <label for="field user-dni">DNI</label>
                                        <input type="number" name="user-dni" id="user-dni" placeholder="32904808">
                                        <p class="error error-display">Invalid DNI number</p>
                                    </div>
                                    <div class="right-col-sign-up">
                                        <label for="field user-date-birth">Date of Birth</label>
                                        <input type="date" name="user-date-birth" id="user-date-birth" placeholder="dd/mm/yyyy">
                                        <p class="error error-display">Invalid Date of Birth</p>
                                    </div>
                                </div>
                                <div class="sign-up">
                                    <div class="left-col-sign-up">
                                        <label for="field user-telephone">Telephone Number</label>
                                        <input type="number" name="user-telephone" id="user-telephone" placeholder="3415123654">
                                        <p class="error error-display">Invalid Telephone Number</p>
                                    </div>
                                    <div class="right-col-sign-up">
                                        <label for="field user-address">Address</label>
                                        <input type="text" name="user-address" id="user-address" placeholder="Av. Pellegrini 123">
                                        <p class="error error-display">Invalid Address</p>
                                    </div>
                                </div>
                                <div class="sign-up">
                                    <div class="left-col-sign-up">
                                        <label for="field user-city">City</label>
                                        <input type="number" name="user-city" id="user-city" placeholder="Rosario">
                                        <p class="error error-display">Invalid City</p>
                                    </div>
                                    <div class="right-col-sign-up">
                                        <label for="field user-postal-code">Postal Code</label>
                                        <input type="text" name="user-postal-code" id="user-postal-code" placeholder="2000">
                                        <p class="error error-display">Invalid Postal Code</p>
                                    </div>
                                </div>
                                <div class="sign-up">
                                    <div class="left-col-sign-up">
                                        <label for="field user-email">Email</label>
                                        <input type="text" name="user-email" id="user-email" placeholder="Email">
                                        <p class="error error-display">Invalid Email</p>
                                    </div>
                                    <div class="right-col-sign-up">
                                        <label for="field user-email-confirmation">Confirm Email</label>
                                        <input type="text" name="user-email-confirmation" id="user-email-confirmation" placeholder="Confirm Email">
                                        <p class="error error-display">Your Email doesn't match</p>
                                    </div>
                                </div>
                                <div class="sign-up">
                                    <div class="left-col-sign-up">
                                        <label for="field user-password">Password</label>
                                        <input type="password" name="user-password" id="user-password" placeholder="Password">
                                        <p class="error error-display">Invalid Password</p>
                                    </div>
                                    <div class="right-col-sign-up">
                                        <label for="field user-password-confirmation">Confirm Password</label>
                                        <input type="password" name="user-password-confirmation" id="user-password-confirmation" placeholder="Confirm Password">
                                        <p class="error error-display">Invalid Password</p>
                                    </div>
                                </div>
                                <div class="btn-sign-up-signup btn-sign-up">
                                    <input type="button" name="submit" value="Sign Up" id="button-sign-up">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <footer>
                <h2>Trackgenix</h2>
                <div class="container">
                    <div class="foot-products">
                        <h4>Products</h4>
                        <ol>
                            <li>Features</li>
                            <li>Downloads</li>
                            <li>Integrations</li>
                            <li>Extras</li>
                        </ol>
                    </div>
                    <div class="foot-company">
                        <h4>Company</h4>
                        <ol>
                            <li>About Us</li>
                            <li>Clients</li>
                            <li>Resources</li>
                            <li>Blog</li>
                        </ol>
                    </div>
                    <div class="foot-support">
                        <h4>Support</h4>
                        <ol>
                            <li>Help</li>
                            <li>Tutorials</li>
                            <li>API</li>
                            <li>Contact</li>
                        </ol>
                    </div>
                </div>
                <section id="social-media">
                    <a href="https://twitter.com/AleFittipaldi"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/alejogf/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/AlejoGF"><i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/alefittipaldi12/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/alejo.fittipaldi/"><i class="fab fa-facebook"></i></a>
                </section>
            </footer>
        </main>
    </body>
</html>