@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h2 {
    width: 80%;
    margin: 25px auto 5px auto;
    padding: 0 0 2.5px 0;
    border-bottom: solid 3px #373867;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #373867;
}

h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #373867;
}

img {
    margin: 20px auto 0 auto;
    width: 100%;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

ul li {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    line-height: 22.5px;
    color: #373867;
}

p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.5px;
    color: #373867;
}

button {
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    background-color: #AACE9B;
    border: none;
    border-radius: 5px;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
    color: #373867;
}

.container {
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 20px;
}

.fields {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    color:#373867;
    font-weight: 500;
}

input,
select {
    margin: 5px 0 20px 0;
    padding: 5px;
    font-size: 10.5px;
}

option {
    font-size: 10.5px;
    color:#373867;
}

textarea {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 10.5px;
}


/* media queries 768px */
@media (min-width: 768px) {
    h2 {
        width: 100%;
        margin: 25px auto 25px auto;
    }

    h3 {
        margin-top: 0;
    }

    form {
        margin-top: 0;
    }

    #trackgenixsa .container {
        flex-direction: row;
    }

    #trackgenixsa .container:nth-child(2) {
        flex-direction: row-reverse;
    }

    #trackgenixsa .column {
        align-items: flex-start;
        width: 100%;
    }

    #trackgenixsa .img-whatistrackgenix {
        margin-left: 15px;
        height: 250px;
    }

    #trackgenixsa .img-ourhistory {
        margin-right: 15px;
        height: 210px;
    }

    #trackgenixsa .container .column button {
        display: flex;
    }

    #features p {
        text-align: left;
    }

    #whytrackgenix .container {
        flex-direction: row;
    }

    #whytrackgenix .container:nth-child(3),
    #whytrackgenix .container:nth-child(5) {
        flex-direction: row-reverse;
    }

    #whytrackgenix .container .column {
        justify-content: center;
        width: 70%;
    }

    #whytrackgenix .container .column p {
        width: 85%;
    }

    #whytrackgenix .container .column button {
        margin-bottom: 0;
        width: 38%;
    }

    #whytrackgenix img {
        margin: 0 auto 0 auto;
        width: 70%;
    }

    #whytrackgenix .img-whytrackgenix {
        height: 175px;
    }

    #form .form-btn button {
        width: 22.5%;
    }

    #form .form-btn .reset {
        margin-left: 5%;
    }

    footer {
        display: flex;
        padding-top: 0;
    }

    footer h2 {
        display: flex;
        justify-content: center;
        margin: 35px auto 35px auto;
        color: #FFF;
    }
}

/* media queries 1024px */
@media (min-width: 1024px) {
    h2 {
        text-align: left;
    }

    ul li {
        margin-left: 5%;
        font-size: 15px;
    }

    aside {
        display: flex;
    }

    #sidebar {
        display: flex;
        flex-direction: column;
        margin: 0 auto 0 auto;
        width: 80%;
    }

    .search-bar,
    .login,
    .signup,
    button {
        margin-bottom: 25px;
        width: 100%;
        border: none;
    }

    .btn-login-signup {
        display: flex;
        justify-content: space-around;
        margin: 0 auto 0 auto;
        width: 80%;
    }

    #sidebar .bar {
        margin: 10% 0 5% 0;
        padding: 5%;
        width: 90%;
        border-radius: 5px;
        border: none;
        font-size: 18px;
        font-weight: 300;
    }

    #sidebar .login,
    #sidebar .signup {
        margin: 0;
        border-radius: 12px;
        font-size: 12px;
        text-transform: uppercase;
    }

    #sidebar .login {
        background-color: #49A37B;
        color: #FFF
    }

    #sidebar .signup {
        margin-left: 5%;
        background-color: #373867;
        color: #FFF;
    }

    #sidebar button {
        margin-top: 10px;
        padding: 10px 5px 10px 5px;
        background-color: #AACE9B;
        border: none;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #373867;
    }

    nav {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        margin: 10% auto 0 auto;
        width: 100%;
    }

    nav ul {
        align-items: flex-start;
        margin: 0;
        padding: 7.5px 0 25px 0;
    }

    nav ul li {
        margin-left: 0;
        font-size: 14px;
        line-height: 35px;
        color: #373867;
    }

    nav ul li i {
        margin-right: 5px;
        font-family: "Font Awesome 5 Free";
    }

    nav ul a {
        text-decoration: none;
        color: #373867;
    }

    nav ul a li:hover {
        color: #49A37B;
    }

    nav span {
        padding-bottom: 2.5px;
        font-size: 15px;
        font-weight: 700;
        border-bottom: solid 2px #49A37B;
        color: #49A37B;
    }

    nav .mt {
        margin-top: 20%;
    }

    header h1 {
        font-size: 60px;
        text-align: left;
    }

    main {
        margin-left: 20%;
    }

    #trackgenixsa .img-whatistrackgenix {
        margin-left: 25px;
        height: 315px;
    }

    #trackgenixsa .img-ourhistory {
        margin-right: 25px;
        height: 215px;
    }

    #trackgenixsa .container .column button {
        width: 36%;
    }

    #features ul {
        align-items: flex-start;
    }

    #features ul li {
        list-style: disc;
    }

    #whytrackgenix .container .column button {
        width: 35%;
    }

    #whytrackgenix img {
        margin: 0 auto 0 auto;
        width: 70%;
    }

    #whytrackgenix .img-whytrackgenix {
        height: 175px;
    }

    form {
        width: 35%;
    }

    #form .form-btn button {
        width: 48%;
    }

    #form .form-btn .reset {
        margin-left: 5%;
    }

    footer h2 {
        justify-content: flex-start;
        margin-left: 7.5%;
        padding: 0;
        width: 92.5%;
    }
}


/* media queries 1280px */
@media (min-width: 1280px) {
    #trackgenixsa .container .column p:nth-child(3) {
        display: flex;
    }

    #trackgenixsa .container .column button {
        width: 29%;
    }

    form {
        width: 45%;
    }

    #form .form-btn button {
        width: 36%;
    }
}