footer {
    background-color: #373867;
    padding-top: 35px;
}

footer h2 {
    color: #FFF;
    margin-left: 25%;
    margin-bottom: 30px;
}

footer h4 {
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contents {
    margin-left: 35%;
}

.footproducts,
.footcompany,
.footsupport {
    width: 20%;
    display: inline-block;
}

footer ol li {
    color: #FFF;
    line-height: 25px;
    margin-left: 9%;
}

#socialmedia {
    margin-top: 35px;
    background-color: #FFF;
    padding: 25px 0 25px 0;
    text-align: center;
}

#socialmedia a i {
    color: #373867;
    padding: 0 5px 0 5px;
}

#socialmedia a i:hover {
    color: #49A37B;
}