/* PRIMERO > REGLAS DE POSITION Y DISPLAY
SEGUNDO > REGLAS DE BOX-MODEL (WIDTH-HEIGHT-MARGIN-PADDING-TOP-LEFT-ETC)
TERCERO > BACKGROUND Y BORDER
CUARTO > TEXTO (FONT-SIZE FONT-WEIGHT TEXT-ALIGN TEXT-SHADOW ETC)
QUINTO > DEMÁS REGLAS */

#trackgenixsa {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

#trackgenixsa h1 {
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: solid 3px #373867;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #373867;
}

#trackgenixsa .column span {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #49A37B;
}

#trackgenixsa p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 22.5px;
    color: #373867;
}

.p2 {
    display: none;
}

#trackgenixsa .container .column button {
    display: none;
}


/* media queries 768px */
@media (min-width: 768px) {
    .p2 {
        display: none;
    }
}


/* media queries 1024px */
@media (min-width: 1024px) {
    #trackgenixsa {
        width: 80%;
    }

    h1 {
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 5px;
        font-size: 120px;
    }

    .p2 {
        display: flex;
    }
}