/* PRIMERO > REGLAS DE POSITION Y DISPLAY
SEGUNDO > REGLAS DE BOX-MODEL (WIDTH-HEIGHT-MARGIN-PADDING-TOP-LEFT-ETC)
TERCERO > BACKGROUND Y BORDER
CUARTO > TEXTO (FONT-SIZE FONT-WEIGHT TEXT-ALIGN TEXT-SHADOW ETC)
QUINTO > DEMÁS REGLAS */

header {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

header h1 {
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: solid 3px #373867;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #373867;
}

/* media queries 768px */
@media (min-width: 768px) {
}


/* media queries 1024px */
@media (min-width: 1024px) {
    header h1 {
        font-size: 60px;
        text-align: left;
    }
}