/* PRIMERO > REGLAS DE POSITION Y DISPLAY
SEGUNDO > REGLAS DE BOX-MODEL (WIDTH-HEIGHT-MARGIN-PADDING-TOP-LEFT-ETC)
TERCERO > BACKGROUND Y BORDER
CUARTO > TEXTO (FONT-SIZE FONT-WEIGHT TEXT-ALIGN TEXT-SHADOW ETC)
QUINTO > DEMÁS REGLAS */

#features, #whytrackgenix, #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin: 35px auto 0 auto;
}

#features p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 22.5px;
    color: #373867;
}

#features span {
    font-weight: 700;
}

#whytrackgenix img {
    width: 70%;
}

#whytrackgenix .mt {
    margin-top: 35px;
    padding-top: 20px;
    /* max-width: 70%; */
    /* ¿DE QUE MANERA PUEDO HACER PARA QUE EL BORDER ME QUEDE SOLO DEL 70%? */
    border-top: solid 1px #373867;
}

#form .form-btn {
    display: flex;
    justify-content: space-between;
    width: 97.5%;
}

#form .form-btn button {
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

#form .form-btn .reset {
    background-color: #DADADA;
    color: #373867;
}

#form #category {
    width: 97.5%;
}


/* media queries 768px */
@media (min-width: 768px) {
}


/* media queries 1024px */
@media (min-width: 1024px) {
    main {
        width: 80%;
    }
}