/* PRIMERO > REGLAS DE POSITION Y DISPLAY
SEGUNDO > REGLAS DE BOX-MODEL (WIDTH-HEIGHT-MARGIN-PADDING-TOP-LEFT-ETC)
TERCERO > BACKGROUND Y BORDER
CUARTO > TEXTO (FONT-SIZE FONT-WEIGHT TEXT-ALIGN TEXT-SHADOW ETC)
QUINTO > DEMÁS REGLAS */

#trackgenixsa {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

#trackgenixsa .column span {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #49A37B;
}

#trackgenixsa p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 22.5px;
    color: #373867;
}

#trackgenixsa .container .column p:nth-child(3) {
    display: none;
}

#trackgenixsa .container .column button {
    display: none;
}

#trackgenixsa .img-whatistrackgenix {
    height: 135px;
    object-fit: cover;
}

#trackgenixsa .img-ourhistory {
    height: 170px;
    object-fit: cover;
}

#features, #whytrackgenix, #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin: 35px auto 0 auto;
}

#features p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 22.5px;
    color: #373867;
}

#features span {
    font-weight: 700;
}

#whytrackgenix img {
    width: 70%;
}

#whytrackgenix .img-whytrackgenix {
    height: 115px;
    object-fit: cover;
    object-position: center;
}

#whytrackgenix .mt {
    margin-top: 35px;
    padding-top: 20px;
    /* max-width: 70%; */
    /* ¿DE QUE MANERA PUEDO HACER PARA QUE EL BORDER ME QUEDE SOLO DEL 70%? */
    border-top: solid 1px #373867;
}

#form .form-btn {
    display: flex;
    justify-content: space-between;
    width: 97.5%;
}

#form .form-btn button {
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

#form .form-btn .reset {
    background-color: #DADADA;
    color: #373867;
}

#form #category {
    width: 97.5%;
}


/* media queries 768px */
@media (min-width: 768px) {
    .p2 {
        display: none;
    }
}


/* media queries 1024px */
@media (min-width: 1024px) {
    main {
        margin-left: 20%;
        width: 80%;
    }

    #trackgenixsa {
        width: 85%;
    }

    #trackgenixsa .container {
        flex-direction: row;
    }

    #trackgenixsa .container:nth-child(2) {
        flex-direction: row-reverse;
    }

    #trackgenixsa .column {
        align-items: flex-start;
    }

    #trackgenixsa .column span {
        text-align: left;
    }

    #trackgenixsa p {
        text-align: left;
    }

    #trackgenixsa .img-whatistrackgenix {
        margin-left: 25px;
        height: 315px;
    }

    #trackgenixsa .img-ourhistory {
        margin-right: 25px;
        height: 215px;
    }

    #trackgenixsa .container .column button {
        display: flex;
        width: 33%;
        justify-content: center;
    }

    #features, #whytrackgenix, #form {
        width: 85%;
    }

    #features p {
        text-align: left;
    }

    #features ul {
        align-items: flex-start;
    }

    #features ul li {
        list-style: disc;
    }

    #whytrackgenix .container {
        flex-direction: row;
    }

    #whytrackgenix .container:nth-child(3),
    #whytrackgenix .container:nth-child(5) {
        flex-direction: row-reverse;
    }

    #whytrackgenix .container .column {
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    #whytrackgenix .container .column p {
        width: 85%;
    }

    #whytrackgenix .container .column button {
        margin-bottom: 0;
        width: 33%;
    }

    #whytrackgenix img {
        margin: 0 auto 0 auto;
        width: 70%;
    }

    #whytrackgenix .img-whytrackgenix {
        height: 175px;
    }

    form {
        width: 35%;
    }

    form .fields {
        width: 100%;
    }

    textarea {
        width: 95%;
    }

    #form .form-btn button {
        width: 48%;
    }

    #form .form-btn .reset {
        margin-left: 5%;
    }

    #form #category {
        width: 97.5%;
    }
}

/* media queries 1280px */
@media (min-width: 1280px) {
    /* ACÁ SINCERAMENTE NO SE PORQUE PONIENDO EL 3 PUDE, PENSÉ QUE IBA A SER EL #2 */
    #trackgenixsa .container .column p:nth-child(3) {
        display: flex;
    }

    #trackgenixsa .container .column button {
        width: 25%;
    }

    form {
        width: 45%;
    }

    #form .form-btn button {
        width: 36%;
    }
}