aside {
    display: none;
}

/* media queries 1024px */
@media (min-width: 1024px) {
    aside {
        position: fixed;
        display: flex;
        width: 20%;
        height: 100%;
        background-color: #DADADA;
    }

    #sidebar {
        display: flex;
        flex-direction: column;
        margin: 0 auto 0 auto;
        width: 80%;
    }

    .search-bar,
    .login,
    .signup,
    button {
        margin-bottom: 25px;
        width: 100%;
        border: none;
    }

    .btn-login-signup {
        display: flex;
        justify-content: space-around;
        margin: 0 auto 0 auto;
        width: 80%;
    }

    #sidebar .bar {
        margin: 10% 0 5% 0;
        padding: 5%;
        width: 90%;
        border-radius: 5px;
        border: none;
        font-size: 18px;
        font-weight: 300;
    }

    #sidebar .login,
    #sidebar .signup {
        margin: 0;
        border-radius: 12px;
        font-size: 12px;
        text-transform: uppercase;
    }

    #sidebar .login {
        background-color: #49A37B;
        color: #FFF
    }

    #sidebar .signup {
        margin-left: 5%;
        background-color: #373867;
        color: #FFF;
    }

    #sidebar button {
        margin-top: 10px;
        padding: 10px 5px 10px 5px;
        background-color: #AACE9B;
        border: none;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #373867;
    }

    nav {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        margin: 10% auto 0 auto;
        width: 100%;
    }

    nav ul {
        align-items: flex-start;
        margin: 0;
        padding: 7.5px 0 25px 0;
    }

    nav ul li {
        margin-left: 0;
        font-size: 14px;
        line-height: 35px;
        color: #373867;
    }

    nav ul li i {
        margin-right: 5px;
        font-family: "Font Awesome 5 Free";
    }

    nav ul a {
        text-decoration: none;
        color: #373867;
    }

    nav ul a li:hover {
        color: #49A37B;
    }

    nav span {
        padding-bottom: 2.5px;
        font-size: 15px;
        font-weight: 700;
        border-bottom: solid 2px #49A37B;
        color: #49A37B;
    }

    nav .mt {
    margin-top: 20%;
    }
}