/* colours
$gnavy: #373867;
$lggreen: #AACE9B;
$bgreen: #49A37B;
$rorange: #F13312;
$ucol: #DADADA;  */

/* PRIMERO > REGLAS DE POSITION Y DISPLAY
SEGUNDO > REGLAS DE BOX-MODEL (WIDTH-HEIGHT-MARGIN-PADDING-TOP-LEFT-ETC)
TERCERO > BACKGROUND Y BORDER
CUARTO > TEXTO (FONT-SIZE FONT-WEIGHT TEXT-ALIGN TEXT-SHADOW ETC)
QUINTO > DEMÁS REGLAS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    display: flex;
}

h2 {
    width: 80%;
    margin: 25px auto 25px auto;
    padding: 0 0 2.5px 0;
    border-bottom: solid 3px #373867;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #373867;
}

h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #373867;
}

img {
    display: flex;
    margin: 20px auto 0 auto;
    width: 100%;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

ul li {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    line-height: 22.5px;
    color: #373867;
}

p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 22.5px;
    color: #373867;
}

button {
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    background-color: #AACE9B;
    border: none;
    border-radius: 5px;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
    color: #373867;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 12px;
    color:#373867;
    font-weight: 500;
}

input,
select {
    margin: 5px 0 20px 0;
    padding: 5px;
    width: 95%;
    font-size: 10.5px;
}

option {
    font-size: 10.5px;
    color:#373867;
}

textarea {
    padding: 5px;
    width: 95%;
    font-family: 'Roboto', sans-serif;
    font-size: 10.5px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 35px;
    background-color: #373867;
}


/* media queries 768px */
@media (min-width: 768px) {
}

/* media queries 1024px */
@media (min-width: 1024px) {
    h2 {
        width: 100%;
        text-align: left;
    }

    h3 {
        margin-top: 0;
    }

    ul li {
        margin-left: 5%;
        font-size: 15px;
    }
}